@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Vollkorn:wght@400..900&display=swap');
@import "tailwindcss";

body {
  max-width: 1440px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebebeb;
}

h2 {
  font-family: 'Vollkorn', serif;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
}